@font-face{
    font-family : 'Roboto';
    src         : url('../fonts/Roboto/static/Roboto-Regular.ttf') format('truetype');
    font-weight : normal;
    font-style  : normal;
}
@font-face{
    font-family : 'Noto Sans JP';
    src         : url('../fonts/Noto_Sans_JP/static/NotoSansJP-Regular.ttf') format('truetype');
    font-weight : normal;
    font-style  : normal;
}
@font-face{
    font-family : 'Noto Sans JP';
    src         : url('../fonts/Noto_Sans_JP/static/NotoSansJP-Regular.ttf') format('truetype');
    font-weight : bold;
    font-style  : normal;
}
body{
    box-sizing  : border-box;
    margin      : 0;
    padding     : 0;
    font-family : 'Roboto', 'Noto Sans JP', sans-serif;
    font-size   : 16px;
}